finnhub_python==2.4.22
langchain==0.3.19
langchain_community==0.3.18
langchain
openai
langchain_core==0.3.40
langchain_openai==0.3.7
pandas==2.2.3
playwright==1.49.1
Requests==2.32.3
selenium==4.29.0
streamlit==1.41.1
beautifulsoup4==4.12.3
faiss-cpu==1.9.0.post1
